* {
  font-family: 'Nunito Sans', sans-serif !important;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  align-items: center;
  color: white;
  padding: 0px;
}

h2 {
  padding-top: .5rem;
  margin-left: 5px;
  color: white;
  letter-spacing: 2px;
  justify-content: center!important;
  font-weight: bolder!important;
  text-shadow: 1px 3px 3px #000000;
}

h3 {
  display: flex;
  font-size: 1.75rem;
  padding: 12px 0px 0px 6px;
  color: #3aa7d2; 
  letter-spacing: 2px;
  font-weight: bolder!important;
  text-shadow: 1px 3px 3px #000000;
}

h4 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  padding: .5rem 0rem .5rem .5rem;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #000000;
}

h5 {
  display: flex;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: center;
  margin-top: 5px;
}

p {
  display: flex;
  padding: 3px;
  margin: 3px;
  justify-content: center;
  font-weight: bolder;
  letter-spacing: 1.3px;
  text-shadow: .5px 0px .5px #000000;
}

.btn {
  padding: 1.375rem 1.40rem;
}

.cityName {
  font-weight: bold !important;
  height: 5rem;
}

.cityHeader {
    margin-right: auto;
    width: auto;
    background-color: #3aa7d2 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#currentCity {
  justify-content: center!important;
}

#weatherContent {
  padding: 2.5px;
  margin-right: 5px;
}

#weather {
  background-color: white!important;
}

img {
  display: flex;
  justify-content: center;
}

li {
  color: #242526 !important;
  font-size: 20px;
  font-weight: bold;
}

#searchResults,
#cityInfo .card {
  background-color: #3aa7d2 !important;
  font-size: 20px;
}

/* https://www.who.int/news-room/questions-and-answers/item/radiation-the-ultraviolet-(uv)-index */

.uvIndexColor {
  margin-left: 1px;

}
.low {
  color: rgb(10, 117, 10);
}

.moderate {
  color: rgb(2, 51, 82);
}

.high {
  color: rgb(207, 135, 3)
}

.veryHigh {
  color: rgb(65, 2, 2);
  background: rgb(255, 255, 99);
}

.extreme {
  color: red;
  background: rgb(255, 255, 99);
}

#forecast {
  display: flex;
  color: black;
  flex-wrap: nowrap;
  font-size: 23px;
  font-weight: bold;
  justify-content: center !important;
}

#forecastRow {
  justify-content: center;
}

.card {
  background-color: #3aa7d2 !important;
  border-radius: 1.25rem;
}

#fiveDay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  
}

#searchHistory {
  background-color: #9ec8e6;
  color: #fafcee;
  max-width: 250rem;
  border-radius: 0.25rem !important
}

/* This centers the title "Weather Outlook." */
@media screen and (min-width: 576px) {
  .title {
    display: flex;
    min-height: 120% !important;
    flex-direction: column;
    justify-items: center;
  }
}

@media screen and (max-width: 576px) {
  h3, h4, .cityHeader {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  p {
    font-size: 18px;
    font-size: 18px;
    padding: 7px 10px 7px 7px;
    margin: 5px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 576px) {
  #weather {
    height: 100vw;
    justify-content: center;
  }
}

@media screen and (max-width: 976px) {
  #fiveDay {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 976px) {
  #searchResults {
    display: inline-block;
    width: 100%;
  }
}
