* {
  font-family: 'Nunito Sans', sans-serif !important;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  align-items: center;
  color: white;
  padding: 0px;
}

h2 {
  font-size: 2.5rem;
  padding-top: .5rem;
  margin-left: 5px;
  color: white;
  letter-spacing: 2px;
  font-weight: bolder!important;
  text-shadow: 1px 3px 3px #000000;
}

h3 {
  display: flex;
  font-size: 1.75rem;
  padding: 12px 0px 0px 6px;
  color: #3aa7d2; 
  letter-spacing: 2px;
  font-weight: bolder!important;
  text-shadow: 1px 3px 3px #000000;
}

h4 {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  padding: .5rem 0rem .5rem .5rem;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #000000;
}

h5 {
  display: flex;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: center;
}

body {
  display: row;
  background-color: #3aa7d2 !important;
}

p {
  padding: 3px;
  margin: 3px;
  font-weight: bolder;
  letter-spacing: 1.3px;
  text-shadow: .5px 0px .5px #000000;
}

.btn {
  padding: 1.375rem 1.40rem;
}

.cityName {
  font-weight: bold !important;
  height: 5rem;
}

.cityHeader {
    margin-right: auto;
    width: auto;
    background-color: #3aa7d2 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
}

#weatherContent {
  padding: 2.5px;
  margin-right: 5px;
}

#weather {
  background-color: white!important;
  height: 50vw;
}

#uvIndexColor,
li {
  color: #242526 !important;
  font-size: 20px;
  font-weight: bold;
}

#searchResults,
#cityInfo .card {
  background-color: #3aa7d2 !important;
  border-radius: 20px;
  font-size: 20px;
  border: 10%;
}

#forecast {
  display: flex;
  color: black;
  flex-wrap: nowrap;
  font-size: 23px;
  font-weight: bold;
  justify-items: center !important;
}

.card {
  box-shadow: 5px rgba(0, 0, 0, 0.2);
  background-color: #3aa7d2 !important;
  max-width: 11rem;
  height: auto;
  display: flex column;
  margin: 5px;
  padding: 5px;
  border-radius: 1.25rem !important
}

#fiveDay {
  display: flex;
  max-height: 100vw;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  
}

#searchHistory {
  background-color: #9ec8e6;
  color: #fafcee;
  max-width: 250rem;
  border-radius: 0.25rem !important
}

/* This centers the title "Weather Outlook." */
@media screen and (min-width: 76px) {

  #weather,
  .title {
    display: flex;
    min-height: 100% !important;
    flex-direction: column;
    justify-items: center;
  }
}


@media screen and (min-width: 375px) {

  #weather {
    height: 175vw;
  }
}

@media screen and (max-width: 976px) {
  #fiveDay {
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    min-width: 100%;
  }
}


@media screen and (max-width: 976px) {
  .row {
    justify-content: center;
    min-width: 100%;
  }
}

@media screen and (max-width: 976px) {
  #searchResults {
    display: inline-block;
    width: 100%;
  }
}
