/* font-family: 'Inter', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
}

h3 {
  color: black, bold;
  font-family: 'Nunito Sans', sans-serif!important;
} 

h1, h2, h4, h5, p {
  font-family: 'Nunito Sans', sans-serif!important;
  color: #fafcee;
}

h4 {
  font-size: 2rem;
  padding: 1rem 0rem 1rem 0rem;
}

.form-control {
  padding: .75rem 1rem;
}
.navbar {
  height: 125px;
}

/* button {
  
} */

.cityName {
  font-weight: bold!important;
  height: 5rem;
}

#weatherContent {
  display: none;
}

#weather {
  background-color: rgb(235, 237, 222)!important;
}

#citydetail,
#uvIndexColor,
li {
  color: #0e0a2b;
}

#searchResults,
#cityDetail
.card {
  background-color: #3aa7d2!important;
}

#searchResults {
  height: 100vh;
}

#fiveDay .card {
  border: 5px solid white;
}

#searchHistory li {
  background-color: #7d98ac;
  color: #fafcee;
}

body {
  font-family: 'Nunito Sans', sans-serif!important;
  background-color: #97A6A4;
}

