/* font-family: 'Inter', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
* {
  font-family: 'Nunito Sans', sans-serif!important;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
}

h3, h2 {
  color: black, bold;
} 

h1, h4, h5, p {
  color: #fafcee;
}

h4 {
  font-size: 2rem;
  padding: 1rem 0rem 1rem 0rem;
}

body {
  display: row;
  background-color: #3aa7d2!important;
}

.btn {
  padding: 1.375rem 1.40rem;
}

p {
  color: black;
}
.form-control {
  padding: .75rem 1rem;
}
.navbar {
  height: 125px;
}

.cityName {
  font-weight: bold!important;
  height: 5rem;
}

#weatherContent {
  display: none;
}

#weather {
  background-color: rgb(255 255 255)!important;
}

#cityInfo,
#uvIndexColor,
li {
    color: #242526!important;
    font-size: 20px;
}



#searchResults,
#cityInfo
.card {
  background-color: #3aa7d2!important;
}

#cityInfo {
  background-color:rgb(138, 203, 156)
}
#searchResults {
  height: 100vh;
}

.row {
  margin: 0%;
  flex-wrap: nowrap;
}

.card {
  background-color: #3aa7d2!important;
}

#fiveDay .card {
  display:grid;
  justify-content: center;
  justify-items: stretch;
  border: 1px solid white;

}

#fiveDay {
  max-width: 10%!important;
}

#searchHistory li {
  background-color: #7d98ac;
  color: #fafcee;
}



